html,
iframe {
    overflow: hidden
}

h3 {
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
    font-size: 1.75rem !important
}

.text-center {
    text-align: center !important
}

#iframe_container {
    width: 100%;
    height: 100vh;
    border: 0 !important;
}