@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif !important;
}

.icon_button_align-fix {
    margin-right: 4px;
    padding-bottom: 4px;
}

.text-center {
    text-align: center;
}

.mdl-layout__drawer-button,
.mdl-layout__drawer-button>i,
.mdl-layout-title {
    color: #212121;
}

@media only screen and (min-width: 1025px) {
    .mdl-layout__content {
        margin-top: 128px;
    }

    #hero_greeter>h1 {
        font-size: 500%
    }
}